.stocks-list {
  margin-top: 100px;
  margin-left: 50px;
}

.stock-ticker {
  color: #0EB200;
}

.stock-divider {
  color: #CAECC8;
  margin-left: 16px;
}

.less-than-twenty, .less-than-twenty-five, .less-than-thirty {
  margin-left: 16px;
}

@media (max-width: 600px) {
  .stocks-list {
    margin-left: 0;
  }
}

