.login-page{
  text-align: center;
  margin-top: 10rem;
}

#controls{
  display: block;
  margin: 0 auto;
  width: 40%;
}
mat-form-field {
  width: 50%;
}
.login-user-card{
  background-color: #CAECC8;
  width: 70%;
  display: block;
  margin: 1rem auto;

}
