<mat-toolbar>
  <span class="guest-mode-limited-functionality" *ngIf="isDataLoaded && user.email != 'jastream@hotmail.com'">Guest mode has limited functionality</span>
  <span class="spacer"></span>
  <button routerLink="/stocks">
    My Stocks
  </button>
  <span class="border-line"> | </span>
  <button routerLink="/prices">
    Prices
  </button>
  <span *ngIf="highlightedStocks.length > 0" class="border-line"> | </span>
  <button *ngIf="highlightedStocks.length > 0" class="highlighted-button" routerLink="/highlighted-prices">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="orangered"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
    Stocks
  </button>
  <span class="border-line" *ngIf="isDataLoaded && user.email == 'jastream@hotmail.com'" routerLink="/manage-stocks"> | </span>

  <button *ngIf="isDataLoaded && user.email == 'jastream@hotmail.com'" routerLink="/manage-stocks">
    Manage Stocks
  </button>

  <button *ngIf="isLoggedIn" class="logout" (click)="logOut()" mat-icon-button>
Logout
  </button>


</mat-toolbar>
