.mat-toolbar{
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #CAECC8;
}


button {
  border: none;
  color: #282828;
  background: none;
}

button:focus {
  outline:0 !important;
}


.border-line {
  color: #282828;
}


.spacer {
  flex: 1 1 auto;
}

.highlighted-button:focus {
  outline:0 !important;
}

.logout{
  margin-left: 40px;
  width: 60px;
  font-size: small;
}

.logout:focus {
  outline:0 !important;
}

.guest-mode-limited-functionality {
  margin-top: 36px;
  margin-left: 50px;
  font-size: small;
}

@media (max-width: 600px) {
  button{
    font-size: small;
    padding: 4px;
  }

  .investor-button {
    margin-bottom: -4px;
  }

  .border-line {
    font-size: medium;
  }

  .logout {
    font-size: x-small;
    margin-left: 10px;
    margin-bottom: 6px;
  }

  .guest-mode-limited-functionality {
    font-size: x-small;
    margin-left: 10px;
  }

  .manage-stocks-button-icon {
    margin-bottom: 2px;
  }

}
