::ng-deep.mat-dialog-container {
  background: #CAECC8;
}
.w-20 {
  margin-left: 300px;
}
.label-text {
  font-size: medium;
  color: #0EB200;
}
.main-info {
  color: #282828;
}

.add-stock-info-button {
  margin-left: 280px;
}

@media (max-width: 600px) {
  mat-dialog-container {
    width: 80%;
  }

  .w-20 {
    margin-left: 200px;
  }

  .add-stock-info-button {
    margin-left: 180px;
  }
}






