.add-new-stock-card {
  margin-top: 100px;
  display: inline-list-item;
  border-radius: unset;
  background-color: #282828;

}


.show-available-stocks {
  display: inline-list-item;
  border-radius: unset;
  background-color: #282828;
}


.add-new-stock-card-label, .show-available-stocks-label{
  color: #0EB200;
  margin-left: 50px;
}



.search-and-submit-form {
  margin-top: 20px;
  margin-left: 50px;
  color: #CAECC8;
}


.insert-ticker-text {
  color: #CAECC8;
}

.add-stock-button {
  color: #0EB200;
  margin-left: 6px;

}

.stocks-list-item {
  color: #CAECC8;
  margin-left: 34px;
  margin-bottom: -20px;
}

.spacer {
  flex: 1 1 auto;
}

.delete-stock-button {
  margin-right: 600px;
}

::ng-deep.mat-form-field-underline {
  background-color: #CAECC8 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #0EB200 !important;
}

.guest-mode-manage-stocks-page{
  color: #0EB200;
  margin-left: 66px;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .stocks-list-item {
    margin-left: -14px;
  }

  .add-new-stock-card-label, .show-available-stocks-label {
    margin-left: 0;
  }

  .search-and-submit-form {
    margin-left: 0;
  }

  .delete-stock-button {
    margin-right: 50px;
  }

}
