::ng-deep.mat-dialog-container {
  background: #CAECC8;
}
.w-20 {
  margin-left: 300px;
}
.label-text {
  font-size: medium;
  color: #0EB200;
}
.main-info {
  color: #282828;
}

@media (max-width: 600px) {

  .w-20 {
    margin-left: 200px;
  }
}


