.stocks-list {
  margin-top: 100px;
  margin-left: 50px;
}

.stocks-list-item {
  color: #0EB200;
  margin-bottom: -13px;
}


.price-by-price{
  color: #CAECC8;
  margin-left: 14px;
  display: inline;
}

.no-available-stocks {
  color: #0EB200;
  margin-top: 100px;
  margin-left: 70px;
}


.table-with-dates, .table-with-prices{
  color: #CAECC8;
  margin-left: 14px;
}

.table-with-dates-cell {
  width: 60px;
  text-align: center;
  border-left: #CAECC8;
  border-left-style: ridge;
}

.table-with-prices-cell {
  width: 60px;
  text-align: center;
  background-color: #CAECC8;
  color: #282828;
  border-left: #282828;
  border-left-style: ridge;

}

.table-with-dates-date-cell {
  padding-right: 10px;
}

.table-with-prices-price-cell {
  padding-right: 10px;
  background-color: #CAECC8;
  color: #282828;
}
