.stocks-list {
  margin-left: 50px;
}

.stocks-list-item {
  color: #0EB200;
  margin-bottom: -13px;
}

.price-by-price {
  color: #CAECC8;
  margin-left: 14px;
  display: inline;
}

.no-available-prices {
  color: #0EB200;
  margin-top: 100px;
  margin-left: 70px;
}


.table-with-dates, .table-with-prices {
  color: #CAECC8;
  margin-left: 14px;
}

.table-with-dates-cell {
  width: 60px;
  text-align: center;
  border-left: #CAECC8;
  border-left-style: ridge;
}

.table-with-prices-cell {
  width: 60px;
  text-align: center;
  background-color: #CAECC8;
  color: #282828;
  border-left: #282828;
  border-left-style: ridge;

}

.table-with-dates-date-cell {
  padding-right: 10px;
  position: absolute;
}

.table-with-prices-price-cell {
  padding-right: 10px;
  background-color: #CAECC8;
  color: #282828;
}

@media (max-width: 600px) {
  .stocks-list {
    margin-left: 0;
  }

  .no-available-prices {
    margin-left: 36px;
  }

  .table-view-button, .chart-view-button {
    margin-top: 60px;
    margin-left: 4px;
  }

  .prices-chart {
    margin-left: 10px !important;
  }
}

.prices-chart {
  margin-left: 60px;
  margin-bottom: 50px;
}

button {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 50px;
  color: #CAECC8;
}
